<div class="container-fluid">
    <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-sm-6 justify-content-start">
                        <h3>{{ 'Accounts' | translate }}</h3>
                    </div>
                    <div class="col-md-4 col-sm-6 d-flex justify-content-md-end">
                        <h3>{{ 'Balance' | translate }}: {{totalBalance}} €</h3>
                    </div>
                </div>
            </div>

        </mat-card-title>
        <mat-card-content>
            <div class="cards-container mat-elevation-z8">
                <div *ngFor="let account of accounts">
                    <account-overview *axLazyElement="elementUrl; module: true"
                                      class="account-overview"
                                      [locale]="locale"
                                      number="{{account.number}}"
                                      name="{{account.name}}"
                                      lastmovement="{{account.lastmovement}}"
                                      newmovements="{{account.newmovements}}"
                                      amount="{{account.amount}}"
                                      (click)="handleAccountClick(account.id)">
                    </account-overview>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

