@import '~bootstrap/scss/bootstrap.scss';

.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.account-overview {
  cursor: pointer;
}


