<div class="container-fluid main-container" *ngIf="show">
    <div id="overlay" [ngStyle]="{'display': displayOverlay, 'height': overlayHeight + 'px', 'width': overlayWidth + 'px'}">
        <div id="text">Angular</div>
    </div>

    <div class="container-fluid" #contentCard>
        <div class="row">
            <div class="col-12">
                <div class="card account-info">
                    <div class="card-title">
                        <h3>{{ 'accounts' | translate }}</h3>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <h5 class="balance"><span style="font-weight: bold">{{ 'balance' | translate }}</span>: {{totalBalance}} €</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="cards-container mat-elevation-z8">
                                    <div *ngFor="let account of accounts" class="account-overview">
                                        <account-overview *axLazyElement="elementUrl; module: true"
                                                          [locale]="locale"
                                                          number="{{account.number}}"
                                                          name="{{account.name}}"
                                                          lastmovement="{{account.lastmovement}}"
                                                          newmovements="{{account.newmovements}}"
                                                          amount="{{account.amount}}"
                                                          (click)="handleAccountClick(account.id)">
                                        </account-overview>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

