@import '~bootstrap/scss/bootstrap.scss';

.main-container {
  padding-right: 0;
  padding-left: 0;
}

h3 {
  font-size: 4vw;
}

.card-overview {
  margin-top: 1em;
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.card-overview {
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  .card-overview {
    margin-top: 0.5em;
  }
}
