<div class="container-fluid" *ngIf="show">
    <mat-card class="card" >
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>{{ 'cards' | translate }}</h3>
        </mat-card-title>
        <mat-card-content>
            <div class="cards-container mat-elevation-z8">
                <div *ngFor="let card of cards">
                    <card-overview *axLazyElement="elementUrl; module: true"
                                    [locale]="locale"
                                    number="{{card.number}}"
                                    lastmovement="{{card.lastmovement}}"
                                    amount="{{card.amount}}"
                                    limit="{{card.limit}}"
                                    type="{{card.type}}"
                                    id="{{card.id}}"
                                    (click)="handleCardClick(card.id)">
                    </card-overview>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

