<!--Navbar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Technology Bank</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="changeLocale('en')">
      <span class="flags-icon flags-icon-en"></span>
    </button>
    <button mat-icon-button style="margin-left: 0.3em" (click)="changeLocale('es')">
      <span class="flags-icon flags-icon-es"></span>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow="true" fxHide.lt-md class="toolbar-color">
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a mat-button routerLink="/private"><mat-icon>home</mat-icon></a>
      <a mat-button routerLink="/private/accounts">{{ 'accounts' | translate }}</a>
      <a mat-button routerLink="/private/cards">{{ 'cards' | translate }}</a>
    </div>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a mat-button href="{{logoutURL}}">{{ 'close-session' | translate }}</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-list>
      <a mat-list-item routerLink="/private">{{ 'global' | translate }}</a>
      <a mat-list-item routerLink="/private/accounts">{{ 'accounts' | translate }}</a>
      <a mat-list-item routerLink="/private/cards">{{ 'cards' | translate }}</a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--/.Navbar-->
