<div class="page-header" data-parallax="true" style="background-image: url('./assets/mfs-home/img/keep/home_background.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>{{title}}</h1>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="login()">Login</button>
            <button type="button" class="btn btn-outline-neutral btn-round">Register</button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">What is this?</h2>
                    <h5 class="description">This is our "Mini Bank". In this bank, you'll find a lot of technology and best practices: microfrontends, microservices, EDA, CI/CD, Cloud, IaC, DDD or Event Storming</h5>
                    <br>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">New Ideas</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pulvinar diam id molestie. Morbi eget neque aliquet, ultrices lacus vel, maximus orci.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-atom"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Amazing</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pulvinar diam id molestie. Morbi eget neque aliquet, ultrices lacus vel, maximus orci</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pulvinar diam id molestie. Morbi eget neque aliquet, ultrices lacus vel, maximus orci</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis pulvinar diam id molestie. Morbi eget neque aliquet, ultrices lacus vel, maximus orci</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Vision 360</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/mfs-home/img/keep/cloud.jpg" alt="Sopra Logo"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Platform</h4>
                                    <!-- h6 class="card-category">Product Manager</h6 -->
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Pellentesque ornare, libero quis aliquet porta, eros ex molestie ligula, finibus pharetra urna orci in massa. Suspendisse id bibendum dui. Nulla rhoncus nibh vel dignissim dictum. Suspendisse ut interdum neque, ac dignissim magna. Etiam lacinia molestie felis non tempus.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/mfs-home/img/keep/agile.jpg" alt="Agile"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Methodology</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="./assets/mfs-home/img/keep/organization.jpg" alt="Agile"></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Organization</h4>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
