@import "~bootstrap/scss/bootstrap";

.items {
  color: black;
}

.items-card {
  border: 0px;
  border-top: lightgray 2px solid;
  margin-top: 0;
  cursor: pointer;
  padding: 0em;
}

.items-card:hover {
  background-color: #fafafa;
  text-decoration: none;
}

.items-header {
  font-size: 0.7em;
  color: var(--headerColor, #6c757d) !important; // #6c757d !important
}

.items-title2 {
  font-weight: bolder;
  font-size: 1.5vw;
  color: var(--title1Color, black);
}

.items-title1 {
  font-weight: bolder;
  font-size: 1vw;
  color: var(--title2Color, black);
}

.items-data {
  padding: 0.4em;
}

.items-data p {
  margin: 0em;
}

.items-right {
  padding-right: 0.5em;
  padding-top: 0.5em
}

.item-row {
  border-top-color: var(--borderColor, lightgray);
  border-top-width: 2px;
  border-top-style: solid;
  cursor: pointer;
}

.item-row:hover {
  background-color: var(--hoverItemColor, white);;
}

.items-title {
  font-size: 2.5vw;
  color: var(--maintitleColor, white) !important;
}

.card {
  background-color: var(--bgColor, white); // #2d2d2d
}

.items-subtitle1 {
  color: var(--subtitle1Color, #6c757d) !important; // #6c757d !important
}

.items-subtitle1, .items-subtitle2 {
  color: var(--subtitle2Color, #6c757d) !important; // #6c757d !important
}

@media screen and (max-width: 1024px) {
  .items-title {
    font-size: 4vw;
  }

  .items-title1 {
    font-size: 2.5vw;
  }

  .items-title2 {
    font-size: 3vw;
  }

  .items-subtitle1 {
    font-size: 2vw;
    color: var(--bgColor, white) !important; // #6c757d !important
  }

  .items-subtitle2 {
    font-size: 3.5vw;
  }

  .items-right {
    padding: 0em
  }
  .items-left {
    padding-left: 0.2em;
  }

}
