@import '~bootstrap/scss/bootstrap.scss';


.content-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2.5vw;
}

h4 {
  font-size: 2vw;
}


.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .title-header {
    font-size: 2vw;
    font-weight: bolder;
  }

  .title-content {
    font-size: 3vw;
    font-weight: bolder;
  }
}
