<ng-template [ngIf]="cardInfo">
    <section class="content-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <mat-card class="card">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5 col-xl-5 col-lg-6 col-md-8" style="padding-left: 0.3em">
                                    <credit-card *axLazyElement="urlCard; module: true"
                                                 id="{{cardInfo.id}}"
                                                 name="{{cardInfo.name}}"
                                                 number="{{cardInfo.number}}"
                                                 entity="TECHNOLOGY BANK"
                                                 expiration="{{cardInfo.expires}}"
                                                 type="{{cardInfo.type}}"
                                                 [locale]="locale">
                                    </credit-card>
                                </div>
                                <div class="col-7 col-xl-7 col-lg-4 col-md-4" >
                                    <div>
                                        <h4 class="text-dark text-black-50 title-header">{{ 'card' | translate }}</h4>
                                        <h2 class="text-muted text-dark title-content">{{cardInfo.number}}</h2>
                                    </div>
                                    <div>
                                        <h4 class="text-dark text-black-50 title-header">{{ 'holder' | translate }}</h4>
                                        <h2 class="text-muted title-content">{{cardInfo.name}}</h2>
                                    </div>
                                    <div>
                                        <h4 class="text-dark text-black-50 title-header">{{ 'balance' | translate }}</h4>
                                        <h2 class="text-dark title-content">{{cardInfo.balance}} €</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

    </section>

    <section class="content-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <mat-card class="card" >
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8 col-sm-6 justify-content-start">
                                        <h2 class="title-content">{{ 'movements' | translate }}</h2>
                                    </div>
                                </div>
                            </div>
                        </mat-card-title>
                        <mat-card-content>
                            <div class="cards-container mat-elevation-z8">
                                <section style="width: 100%;">
                                    <items-table *axLazyElement="urlMovements; module: true" [items]="movements"></items-table>
                                </section>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>
</ng-template>

