<ng-template [ngIf]="cardInfo">
    <section class="content-section" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-title">
                            <h3>{{ 'card-detail' | translate }}</h3>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5 col-xl-5 col-lg-6 col-md-8">
                                    <credit-card *axLazyElement="urlCard; module: true"
                                                 id="{{cardInfo.id}}"
                                                 name="{{cardInfo.name}}"
                                                 number="{{cardInfo.number}}"
                                                 entity="TECHNOLOGY BANK"
                                                 expiration="{{cardInfo.expires}}"
                                                 type="{{cardInfo.type}}"
                                                 [locale]="locale">
                                    </credit-card>
                                </div>
                                <div class="col-7 col-xl-7 col-lg-4 col-md-4" >
                                    <div>
                                        <h5 class="text-dark text-black-50 title-header">{{ 'card' | translate }}</h5>
                                        <h4 class="text-muted text-dark title-content">{{formatCardNumber(cardInfo.number)}}</h4>
                                    </div>
                                    <div>
                                        <h5 class="text-dark text-black-50 title-header">{{ 'holder' | translate }}</h5>
                                        <h4 class="text-muted title-content">{{cardInfo.name}}</h4>
                                    </div>
                                    <div>
                                        <h5 class="text-dark text-black-50 title-header">{{ 'balance' | translate }}</h5>
                                        <h4 class="text-dark title-content">{{cardInfo.balance}} €</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-section">
        <div class="container-fluid">
            <div class="card card-movements" >
                <div class="card-title">
                    <h3>{{ 'movements' | translate }}</h3>
                </div>
                <div class="card-body">
                    <items-table *axLazyElement="urlMovements; module: true" [items]="movements"></items-table>
                </div>
            </div>
        </div>
    </section>
</ng-template>

