<div class="container-fluid" *ngIf="showMovements">
    <div *ngIf="mode == 0">
        <div class="row">
            <!-- Accounts & Cards -->
            <div class="col-xl-8 col-lg-12 col-sm-12">
                <section style="width: 100%;">
                    <mf-accounts-summary *axLazyElement="urlAccountsSummary;"
                                         channel="mf-global-position-accounts"
                                         [locale]="locale"
                                         [customer]="customer">
                    </mf-accounts-summary>
                </section>
                <section style="width: 100%;">
                    <mf-cards-summary *axLazyElement="urlCardsSummary;"
                                      channel="mf-global-position-cards"
                                      [locale]="locale"
                                      [customer]="customer">
                    </mf-cards-summary>
                </section>
            </div>


            <div class="col-xl-4 col-lg-12 col-sm-12" >
                <!-- Summary -->
                <section style="width: 100%;">
                    <mf-balance-overview *axLazyElement="urlBalanceOverview;"
                                         [locale]="locale"
                                         [customer]="customer">
                    </mf-balance-overview>
                </section>

                <!-- Accesos directos -->
                <section style="width: 100%;">
                    <wc-shortcuts *axLazyElement="urlShortcuts; module: true;"
                                  [data]="shortcuts"
                                  [locale]="locale"
                                  (shortcutClick)="handleShortcutClick($event)">
                    </wc-shortcuts>
                </section>


                <!-- Loan -->
                <section style="width: 100%;">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Hello {{nickName}}</h5>
                            <p class="card-text">You have a pre-approved one of up to 12.340 EUR</p>
                            <a href="#" class="btn btn-primary">I'm interested</a>
                        </div>
                    </div>
                </section>

                <!-- last movements -->
                <section style="width: 100%;">
                    <items-table header="{{ 'last-movements' | translate }}"
                                 *axLazyElement="urlMovements; module: true;"
                                 [items]="movementsItems"
                                 (itemClick)="handleItemClick($event)">
                    </items-table>
                </section>
            </div>
        </div>
    </div>
    <div *ngIf="mode == 1">
        <div class="row">
            <div class="col-12">
                <section style="width: 100%;">
                    <div class="container-fluid">
                        <mf-balance-overview *axLazyElement="urlBalanceOverview;"
                                             [locale]="locale"
                                             [customer]="customer">
                        </mf-balance-overview>
                    </div>

                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <section style="width: 100%;">
                    <mf-accounts-summary *axLazyElement="urlAccountsSummary;"
                                         channel="mf-global-position-accounts"
                                         [locale]="locale"
                                         [customer]="customer">
                    </mf-accounts-summary>
                </section>
            </div>
            <div class="col-6">
                <section style="width: 100%;">
                    <mf-cards-summary *axLazyElement="urlCardsSummary;"
                                      channel="mf-global-position-cards"
                                      [locale]="locale"
                                      [customer]="customer">
                    </mf-cards-summary>
                </section>
            </div>
        </div>
    </div>
</div>
