<div class="container-fluid">
    <div class="row">
        <!-- Accounts & Cards -->
        <div class="col-xl-8 col-lg-12 col-sm-12">
            <section style="width: 100%;">
                <mf-accounts-summary *axLazyElement="urlAccountsSummary"></mf-accounts-summary>
            </section>
            <section style="width: 100%;">
                <mf-cards-summary *axLazyElement="urlCardsSummary"></mf-cards-summary>
            </section>
        </div>


        <div class="col-xl-4 col-lg-12 col-sm-12">
            <!-- Summary -->
            <section style="width: 100%;">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>
                        <div style="padding: 0.3em">
                            <div class="d-flex justify-content-start">
                                <span class="text-muted font-italic">Incomes</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">2467 €</div>
                            </div>
                        </div>
                        <div style="padding: 0.3em">
                            <div class="d-flex justify-content-start">
                                <span class="text-muted font-italic">Expenses</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="1000" aria-valuemin="0" aria-valuemax="100" style="width: 40%">1267 €</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Accesos directos -->
            <section style="width: 100%;">
                <wc-shortcuts *axLazyElement="urlShortcuts; module: true" [data]="shortcuts"></wc-shortcuts>
            </section>


            <!-- Loan -->
            <section style="width: 100%;">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Hello Usuario Demo</h5>
                        <p class="card-text">You have a pre-approved one of up to 12.340 EUR</p>
                        <a href="#" class="btn btn-primary">I'm interested</a>
                    </div>
                </div>
            </section>

            <!-- last movements -->
            <section style="width: 100%;">
                <items-table header="Last Movements" *axLazyElement="urlMovements; module: true" [items]="movements"></items-table>
            </section>
        </div>
    </div>
</div>
