section {
    padding: 0.5em;
}

.shortcut-icon-text {
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
}

.movements {
    color: black;
}

.movement-card {
    border: 0px;
    border-top: lightgray 2px solid;
}

.movement-card>a {
    text-decoration: none;
    color: black;
}

.movement-card:hover {
    background-color: #fafafa;
    text-decoration: none;

}


.movement-data {
    padding: 0.4em;
}

.movement-data p {
    margin: 0em;
}
