section {
    padding: 0.5em;
}

.shortcut-icon-text {
    display: flex;
    font-size: 0.8em;
    font-weight: bold;
}

.items {
    color: black;
}

.items-card {
    border: 0px;
    border-top: lightgray 2px solid;
}

.items-card>a {
    text-decoration: none;
    color: black;
}

.items-card:hover {
    background-color: #fafafa;
    text-decoration: none;

}


.items-data {
    padding: 0.4em;
}

.items-data p {
    margin: 0em;
}

@media screen and (max-width: 767px) {
    .gp-main-content {
        padding-right: 0.1em;
        padding-leftt: 0;
    }

    .gb-section {
        padding-right: 0;
        padding-leftt: 0;
        width: 100%;
    }
}
