<div class="container-fluid">
    <div class="row">
        <!-- Accounts & Cards -->
        <div class="col-xl-8 col-lg-12 col-sm-12">
            <section style="width: 100%;">
                <mf-accounts-summary *axLazyElement="urlAccountsSummary;"
                                     channel="mf-global-position-accounts"
                                     [locale]="locale">
                </mf-accounts-summary>
            </section>
            <section style="width: 100%;">
                <mf-cards-summary *axLazyElement="urlCardsSummary;"
                                  channel="mf-global-position-cards"
                                  [locale]="locale">
                </mf-cards-summary>
            </section>
        </div>


        <div class="col-xl-4 col-lg-12 col-sm-12">
            <!-- Summary -->
            <section style="width: 100%;">
                <mf-balance-overview *axLazyElement="urlBalanceOverview;"
                                     [locale]="locale"></mf-balance-overview>
            </section>

            <!-- Accesos directos -->
            <section style="width: 100%;">
                <wc-shortcuts *axLazyElement="urlShortcuts; module: true;"
                              [data]="shortcuts"
                              [locale]="locale"></wc-shortcuts>
            </section>


            <!-- Loan -->
            <section style="width: 100%;">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Hello Usuario Demo</h5>
                        <p class="card-text">You have a pre-approved one of up to 12.340 EUR</p>
                        <a href="#" class="btn btn-primary">I'm interested</a>
                    </div>
                </div>
            </section>

            <!-- last movements -->
            <section style="width: 100%;" *ngIf="showMovements">
                <items-table header="{{ 'last-movements' | translate }}"
                             *axLazyElement="urlMovements; module: true;"
                             [items]="movementsItems"
                             (itemClick)="handleItemClick($event)">
                </items-table>
            </section>
        </div>
    </div>
</div>
