<div *ngIf="show">
  <section>
    <div class="container-fluid gp-header">
      <div class="row">
        <div class="col-12">
          <div class="card account-info">
            <div class="card-title">
              <h3>{{ 'customer-detail' | translate }}</h3>
            </div>
            <div class="container-fluid customer-info">
              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <h5 class="text-white">{{ 'name' | translate }}</h5>
                  <h4 class="text-white">{{customerData.name}}</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                  <h5 class="text-white">{{ 'age' | translate }}</h5>
                  <h4 class="text-white">{{customerData.age}}</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                  <h5 class="text-white">{{ 'entry' | translate }}</h5>
                  <h4 class="text-white">{{customerData.entry}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="global-position-section">
    <mf-global-position *axLazyElement="globalPositionURL;"
                        channel="backoffice-app"
                        [locale]="locale"
                        [customer]="customer"
                        mode="1">
    </mf-global-position>
  </section>
</div>

<ng-template #accountContent let-modal>
  <div class="modal-body">
    <account-detail [account]="account"></account-detail>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>

<ng-template #cardContent let-modal>
  <div class="modal-body">
    <card-detail [card]="card"></card-detail>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
  </div>
</ng-template>
